<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giuaki">
    <!-- QUAN TRỌNG DÒNG uses-permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Giuaki">
        <activity android:name=".Webform"></activity>
        <activity android:name=".Statistics.CapphatVPPcrud" />
        <activity android:name=".Main.ThongbaoLayout" />
        <activity android:name=".XinchoLayout" />
        <activity android:name=".Tables.BaocaoTable02" />
        <activity android:name=".Tables.BaocaoTable01" />
        <activity android:name=".Tables.ThongkeTable04" />
        <activity android:name=".Tables.ThongkeTable03" />
        <activity android:name=".Tables.ThongkeTable02" />
        <activity android:name=".Tables.ThongkeTable01" />
        <!-- Version cuoiki : Version 2 -->
        <activity android:name=".MainActivity" ></activity>
        <activity android:name=".Chart.ThongkeChart" ></activity>
        <activity android:name=".Mainv2.ThongkeLayout" ></activity>
        <activity android:name=".Mainv2.VanphongphamLayout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mainv2.NhanvienLayout" ></activity>
        <activity android:name=".Mainv2.PhongbanLayout" ></activity>
        <activity android:name=".Mainv2.CapphatVPPLayout"></activity>
        <activity android:name=".Mainv2.CungcapLayout"></activity>
        <activity android:name=".Mainv2.ThongbaoLayout"></activity>
        <activity android:name=".Mainv2.CapPhatCRUDLayout"></activity>
        <activity android:name=".Mainv2.CTCungcapLayout"></activity>
        <activity android:name=".Mainv2.BaocaoVPPAllLayout" ></activity>
        <activity android:name=".Mainv2.BaocaoVPPLayout" ></activity>
        <activity android:name=".Welcome">

        </activity>
    </application>

</manifest>